/* PaymentPage.css */

/* Styles for the payment page container */
.payment-page {
    padding: 20px;

  }

  /* CSS styles for the pop-up */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
}

.button-container {
  text-align: right;
}


/* CSS styles for the "Complete Payment" button */
.complete-payment-button {
  background-color: #FFBF00;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 250px;
}

/* Add any other styles as needed */

  
  .PaymentPageTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styles for the shipping information box */
  .shipping-info-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .shipping-info-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .shipping-info-box p {
    margin: 5px 0;
  }

  .editShippingButton{
    position: absolute;
    width: 150x;
    right: 10px;
    font-weight: bold;
    border: none;
    background: #ffffffbf;
    margin-top: 5px; 
    border-radius: 5px;
    z-index: +1;
}



  